/* Basic editor styles */
.editor [class*='ProseMirror'] {
  border-radius: 4px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(255, 255, 255, 0.23);

  &[contenteditable='true'] {
    padding: 0.5rem;
  }

  &:hover {
    outline-color: #fff;
  }

  &[class*='ProseMirror-focused'] {
    outline-color: #ed6c02 !important;
    outline-width: 2px;
  }

  > * + * {
    margin-top: 0.75em;
  }

  p:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  // p:first-child::before {
  //   color: #adb5bd;
  //   content: attr(data-placeholder);
  //   float: left;
  //   height: 0;
  //   pointer-events: none;
  // }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  [data-youtube-video] {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
